extends layout

block content
  .box-container(style="background-color: rgb(43, 43, 43); color: white; padding: 0px;")
    .left-container 
      .like-wrap
        div(style="color:white;") Like
      .site Site
    .right-container
      .title-wrap 
        text.title(style="color: white;") Title
        span.comment
      .author atuhor / date
  -for(var i = 0; i < 20; i++)
    -var siteColor = (data[i].site === 'ì˜¤ìœ ' ? 'ou' : siteColor)
    -var siteColor = (data[i].site === 'íŽ¨ì½”' ? 'fm' : siteColor)
    -var siteColor = (data[i].site === 'ì›ƒëŒ€' ? 'humoruniv' : siteColor)
    -var siteColor = (data[i].site === 'ë½ë¿Œ' ? 'ppomppu' : siteColor)
    -var siteColor = (data[i].site === 'ì™€ê³ ' ? 'ygosu' : siteColor)
    a.box-container(href=`${data[i].url}` onclick="myScrollPosition()")
      .left-container
        .like-wrap
          .like-emoji ðŸ‘
          span.like
            div #{data[i].like}
        .site(class=siteColor) #{data[i].site}
      .right-container
        .title-wrap
          text.title #{data[i].subject} 
          span.comment #{data[i].comment}
        .author #{data[i].author} / #{data[i].date}
