extends layout

block content
  .box-container(style="background-color: black; color: white;")
    .left-container 
      .like-wrap
        div(style="color:white;") Like
      .site Site
    .right-container
      .title-wrap 
        text.title(style="color: white;") Title
        span.comment
      .author atuhor / date
  -for(var i = 0; i < data.length; i++)
    -var siteColor = (data[i].site === 'ì˜¤ìœ ' ? 'ou' : siteColor)
    -var siteColor = (data[i].site === 'íŽ¨ì½”' ? 'fm' : siteColor)
    -var siteColor = (data[i].site === 'ì›ƒëŒ€' ? 'humoruniv' : siteColor)
    a.box-container(href=`${data[i].url}`)
      .left-container
        .like-wrap
          .like-emoji ðŸ‘
          span.like
            div #{data[i].like}
        .site(class=siteColor) #{data[i].site}
      .right-container
        .title-wrap
          text.title #{data[i].subject} 
          span.comment #{data[i].comment}
        .author #{data[i].author} / #{data[i].date}
    //- -var siteColor = (data2[i].site === 'ê°£ë¦½' ? 'dog' : null)
    //- a.box-container(href=`${data2[i].url}`)
    //-   .left-container
    //-     .like-wrap
    //-       .heart 
    //-       .like â™¥#{data2[i].like}
    //-       .view #{data2[i].view}
    //-     .site(class=siteColor) #{data2[i].site}
    //-   .right-container
    //-     .title-wrap
    //-       text.title #{data2[i].title} 
    //-       span.comment #{data2[i].comment}
    //-     .author #{data2[i].author} / #{data2[i].date}
        